<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons collapse="true" slot="end">
      <ion-button (click)="createOrEditExpense()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons collapse="true" slot="end">
        <ion-button (click)="createOrEditExpense()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Expenses</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="(CurrentExpenses | async)?.length">
      <ion-searchbar (ionChange)="filterExpenses($event)" debounce="400" placeholder="Filter Expenses" showCancelButton="focus"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="(CurrentExpenses | async)?.length">
    <ion-list-header>
      <ion-label> Current Expenses</ion-label>
    </ion-list-header>

    <ion-item-divider>
      <ion-label> Total: {{CurrentExpenseTotal | currency: 'GBP'}} </ion-label>
    </ion-item-divider>
    <ion-item-sliding #slidingItem *ngFor="let expense of CurrentExpenses | async">
      <ion-item-options side="start">
        <ion-item-option color="success" (click)="toggleClaimed(expense, slidingItem)">
          <ion-icon name="create-outline"></ion-icon>
          Toggle Claimed
        </ion-item-option>
      </ion-item-options>
      <ion-item (click)="editExpense(expense)">
        <ion-avatar slot="start">
          <img style="background: #fff" src="{{expense?.images[0] || '../../assets/svgs/mobile-payments.svg'}}" />
        </ion-avatar>
        <ion-label>
          <h2>{{expense.amount | currency: 'GBP' }}</h2>
          <h3>{{expense.expenseDate | date: 'short' : 'en-GB' }}</h3>
          <p>{{expense.description}}</p>
        </ion-label>
        <ion-note *ngIf="expense.claimed" slot="end">
          <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteExpense(expense, slidingItem)">
          <ion-icon name="trash-outline"></ion-icon>
          delete
        </ion-item-option>
        <ion-item-option (click)="editExpense(expense, slidingItem)">
          <ion-icon name="create-outline"></ion-icon>Edit
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <!-- Show this if there aren't any expenses to show in the list -->
  <ng-container *ngIf="!(CurrentExpenses | async)?.length">
    <div class="ion-padding ion-text-center">
      <div style="background: #f3f3f3; border-radius: 10px;">
        <img class="ion-padding ion-margin" src="../../assets/svgs/mobile-payments.svg" alt="">
      </div>
      <h2>Welcome to ExpenseHub</h2>
      <h4>To get started click the + button to add your first expense</h4>
    </div>
  </ng-container>


</ion-content>
