<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()"> close </ion-button>
    </ion-buttons>
    <ion-title>{{ action }} Expense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveExpense()"> save </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imageScrollContainer">
    <div class="addImageContainer expenseImageContainer">
      <ion-button fill="clear" (click)=" captureImage()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Add photo
      </ion-button>
    </div>

    <div class="expenseImageContainer" *ngFor="let photo of currentExpense?.images; index as position">
      <div style="position: relative">
        <ion-button fill="clear" class="deleteImageButton" (click)="deleteImage(position)">
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-button>
        <img src="{{ photo }}" />
      </div>
    </div>
  </div>

  <form [formGroup]="expenseForm" id="clientForm" role="form">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Expense Amount</ion-label>
        <input type="tel" class="amountInput" currencyMask [options]="currencyOptions" formControlName="amount" />
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Expense Date</ion-label>
        <ion-datetime formControlName="expenseDate" display-format="DD MMM YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea autoGrow="true" formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Claimed?</ion-label>
        <ion-toggle type="checkbox" slot="start" formControlName="claimed"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
